{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
    <link rel="stylesheet" href="{% static 'css/del_style.css' %}">
</head>
<body>
    <header>
        <div class="delete_item">
            <p class="areu">Update your Todo...</p>
            <form action="" method="POST" class="update_form">
                {% csrf_token %}
                {{form}}
                <input type="submit" name="confirm" value="Confirm" id="update_confirm">
            </form>
        <button class="cancel_button"><a href="{% url 'home' %}">Cancel</a></button>
        </div>
    </header>
</body>
</html>